﻿@model Library.Models.Checkout.CheckoutModel
@{
    ViewBag.Title = @Model.Title;
}

@section Styles{
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
}

<div class="container" />
<div class="header clearfix detailHeading" />
<h2 class="text-muted">Checkout Library Item</h2>
<div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <p id="itemTitle">@Model.Title</p>
                    <img class="detailImage" src="@Model.ImageUrl" />
                </div>
            </div>
            <div class="col-md-9">
                @using (Html.BeginForm("PlaceCheckout", "Catalog", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.AssetId)
                    <div>
                        Please insert a Library Card Id.
                        @Html.TextBoxFor(x => x.LibraryCardId)
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success btn-lg">Check Out</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
