﻿@model Library.Models.Catalog.AssetIndexModel

<div id="assets">
    <h3>Library Catalog</h3>
    <div id="assetsTable">
        <table class="table table-condensed" id="catalogIndexTable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Dewey Call Number</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var assets in Model.Assets)
                {
                    <tr class="assetRow">
                        <td class="">
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@assets.Id">
                                <img src="@assets.ImageUrl" class="imageCell" />
                            </a>
                        </td>
                        <td class="">@assets.Title</td>
                        <td class="">@assets.AuthorOrDirector</td>
                        <td class="">@assets.DeweyCallNumber</td>
                        <td class="">@assets.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>